@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top left, #9b59b6, #1abc9c) no-repeat fixed;
  font-family: "Fredoka", sans-serif;
}
h1,
span,
.welcome {
  color: white !important;
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}
.btn {
  font-family: "Raleway";
  font-size: 0.8vw;
  background-color: #6665dd !important;
  color: white !important;
  border-radius: 50px;
  background: #3d3d3d;
  box-shadow: 0px 0px 5px #393939, 0px -0px 10px #414141;
  height: 4rem;
  width: 7rem;
}
.btn:hover,
.btn:focus {
  box-shadow: 0 0.7em 0.5em -0.4em cyan;
  transform: translateY(-0.25em);
  transition: 0.25s;
}
li {
  padding: 10px;
}
a {
  color: white !important;
}
.wrapper {
  box-sizing: content-box;
  padding: 2.5em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.6em;
}
.stats {
  text-align: right;
  margin-bottom: 1.2em;
}
.stats span {
  font-weight: 600;
}
.card-container {
  position: relative;
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}
.card-before {
  font-size: 2.8em;
  font-weight: 600;
  background-color: #dbfcff;
}
.card-after {
  background-color: #e7fafc;
  transform: rotateY(180deg);
}
.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}
.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
}
.hide {
  display: none;
}
#result {
  text-align: center;
}
#result h2 {
  font-size: 2.5em;
}
#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}
.home {
  padding-top: 1rem;
}
.moves-count {
  text-align: center;
  font-size: 2em;
  color: white !important;
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}
@media screen and (max-height: 100px) {
  .card-container {
    position: relative;
    width: 4.5em;
    height: 4.5em;
    cursor: pointer;
  }
  .btn {
    font-family: "Raleway";
    font-size: 0.8vw;
    background-color: #6665dd !important;
    color: white !important;
    border-radius: 50px;
    background: #3d3d3d;
    box-shadow: 0px 0px 5px #393939, 0px -0px 10px #414141;
    height: 3rem;
    width: 7rem;
  }
}
